<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Vue CDN</title>
</head>


<body>
    <div id="vue-app">
        <h1>yu branch</h1>
        <!-- <ul>
            <li v-for='(mrCharacter,index) in characters'>
                {{index}}-{{mrCharacter}}
            </li>
        </ul> -->

        <template v-for='(mrUser,index) in users'>
            <div v-for='(val,key) in mrUser'>
                <p>{{key}}:{{val}}</p>
            </div>
        </template>

    </div>
</body>
<script src='app.js'></script>

</html>